@font-face {
  font-family: "UbuntuRegular";
  src: url("../../src/fonts/UbuntuRegular/UbuntuRegular.eot");
  src: url("../../src/fonts/UbuntuRegular/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
  url("../../src/fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"),
  url("../../src/fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "UbuntuMedium"; */
@font-face {
  font-family: "UbuntuMedium";
  src: url("../../src/fonts/UbuntuMedium/UbuntuMedium.eot");
  src: url("../../src/fonts/UbuntuMedium/UbuntuMedium.eot?#iefix")format("embedded-opentype"),
  url("../../src/fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"),
  url("../../src/fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

